/*
==========================================
Dashboard Layout
==========================================
*/

.dashboard{

    display:flex;

    flex-direction:column;

    gap:24px;
}

/* ================================================= */

.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(12,minmax(0,1fr));

    gap:20px;

    padding:30px;
}

/* ================================================= */
/* Widget Size                                        */
/* ================================================= */

.widget-3{

    grid-column:span 3;
}

.widget-4{

    grid-column:span 4;
}

.widget-6{

    grid-column:span 6;
}

.widget-8{

    grid-column:span 8;
}

.widget-9{

    grid-column:span 9;
}

.widget-12{

    grid-column:span 12;
}

/* ================================================= */

.widget-h-small{

    min-height:250px;
}

.widget-h-medium{

    min-height:350px;
}

.widget-h-large{

    min-height:450px;
}