:root{

    /* ===== Theme ===== */

    --bg:#121212;

    --sidebar:#1B1B1B;

    --topbar:#1E1E1E;

    --widget:#242424;

    --border:#373737;

    --hover:#313131;

    /* ===== Text ===== */

    --text:#F3F3F3;

    --text-secondary:#A5A5A5;

    /* ===== Status ===== */

    --success:#64E572;

    --warning:#FFC857;

    --danger:#F85149;

    /* ===== Radius ===== */

    --radius:10px;

    /* ===== Transition ===== */

    --transition:.25s ease;
}