::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:transparent;

}

::-webkit-scrollbar-thumb{

    background:#454545;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#666666;

}