<div class="jit-widget widget-h-small" data-widget="disk">

    <div class="jit-widget-header">

        <div>

            <h5>Disk</h5>

            <small class="widget-subtitle">

                Samsung SSD 980

            </small>

        </div>

        <div class="widget-menu">

            <i class="fa-solid fa-ellipsis"></i>

        </div>

    </div>

    <div class="jit-widget-body">

        <div class="widget-value">

            238 GB

        </div>

        <div class="widget-info">

            <span>512 GB Total</span>

            <span>46% Used</span>

        </div>

        <div class="widget-graph">

            <canvas id="diskChart"></canvas>

        </div>

    </div>

    <div class="jit-widget-footer">

        <i class="fa-regular fa-clock"></i>

        <span>Updated just now</span>

    </div>

</div>