<div class="jit-widget widget-h-small" data-widget="memory">

    <div class="jit-widget-header">

        <div>

            <h5>Memory</h5>

            <small class="widget-subtitle">

                16 GB DDR4

            </small>

        </div>

        <div class="widget-menu">

            <i class="fa-solid fa-ellipsis"></i>

        </div>

    </div>

    <div class="jit-widget-body">

        <div class="widget-value">

            6.8 GB

        </div>

        <div class="widget-info">

            <span>42% Used</span>

            <span>3200 MHz</span>

        </div>

        <div class="widget-graph">

            <canvas id="memoryChart"></canvas>

        </div>

    </div>

    <div class="jit-widget-footer">

        <i class="fa-regular fa-clock"></i>

        <span>Updated just now</span>

    </div>

</div>