<div class="jit-widget widget-h-small" data-widget="network">

    <div class="jit-widget-header">

        <div>

            <h5>Network</h5>

            <small class="widget-subtitle">

                Qualcomm Atheros

            </small>

        </div>

        <div class="widget-menu">

            <i class="fa-solid fa-ellipsis"></i>

        </div>

    </div>

    <div class="jit-widget-body">

        <div class="widget-value">

            12 MB/s

        </div>

        <div class="widget-info">

            <span>↑ 2 MB/s</span>

            <span>↓ 10 MB/s</span>

        </div>

        <div class="widget-graph">

            <canvas id="networkChart"></canvas>

        </div>

    </div>

    <div class="jit-widget-footer">

        <i class="fa-regular fa-clock"></i>

        <span>Updated just now</span>

    </div>

</div>