:root{

    --jit-bg:#171717;
    --jit-bg-secondary:#1E1E1E;
    --jit-bg-card:#252526;
    --jit-bg-hover:#303030;

    --jit-border:#383838;

    --jit-text:#F3F3F3;
    --jit-text-secondary:#BFBFBF;
    --jit-text-muted:#8E8E8E;

    --jit-success:#39d353;
    --jit-warning:#e3b341;
    --jit-danger:#f85149;
    --jit-info:#58a6ff;

}